body{
  background:#FAFAFA;
}

.logo-svg{
  z-index: 3;
  position: absolute;
  top: -22px;
  left: -22px;
  width: 177px;
}   
  .drawer-logo-svg{
    width: 152px;
    padding: 33px 0 0 0;
  }
  
.mdl-layout__header{
  background:#E9E8F9 !important;
}

.mdl-layout__tab-bar{
  background:#e0e0e0 !important;
}
a.mdl-layout__tab:hover{
  color:#d9534f;
  text-decoration:none;
}
 
.purchase-btn{
  background: #f0ad4e !important;
  margin: -33px auto auto;
  display: block !important;
}
  .mastercard-sub{
    margin: 13px auto;
    text-align: center;
    display: block;
  }
  .mastercard-sub-img{
    width: 33px;
  }