{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'card-stack.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/swing/3.0.2/swing.js"></script>
    <script src="{% static 'card-stack.js' %}"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    
</head>
<body>
    
    <!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
      <a href="/">
        <img class="logo-svg" src="https://9d4641a993fce16a620893b51b7c73c138cd7f55.googledrive.com/host/0B5JJC6KspfT3ZzllR3Q0ZTd4S1U" alt="Shwipe logo"/>
      </a>
      </span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Free People</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Amazon</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Best Buy</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
        <a href="/">
          <img class="drawer-logo-svg" src="https://9d4641a993fce16a620893b51b7c73c138cd7f55.googledrive.com/host/0B5JJC6KspfT3ZzllR3Q0ZTd4S1U" alt="Shwipe logo"/>
        </a>
    </span>
    <a href="accounts/profile"> My Profile </a>
    {% include "search.html" %}
    {% include "categories.html" %}
  </div>
  <main class="mdl-layout__content">
      
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
        <!-- Your content goes here -->
        {% block content %} {% endblock %}
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
        <!-- Your content goes here -->
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
        <!-- Your content goes here -->
      </div>
    </section>
  </main>
</div>

</body>
</html>